# Docker
COMPOSE_PROJECT_NAME=abja-kino-deployment

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=student123
POSTGRES_DATABASE=cinema

# Spring Boot
SPRING_ADMIN_USERNAME=admin
SPRING_ADMIN_PASSWORD=admin
SPRING_ADMIN_EMAIL=admin@abjakino.ee
SPRING_JWT_SECRET=PLACEHOLDER

# Vue frontend
API_URL=http://abja-kino-back:8080

# Nginx
NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443